/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(253, 242, 242);
  --foreground: #41424b;
}

[data-theme='light'] {
  --background: rgb(242, 250, 253);
  --foreground: #2b2e30;
}

[data-theme='dark'] {
  --background: #1e282c; /* Change this to your desired dark mode background color */
  --foreground: #f7fafc; /* Change this to your desired dark mode foreground color */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/*   --background: rgb(253, 242, 242);
 */
