/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(247, 252, 255);
  --foreground: #41424b;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #2b2e30;
}

[data-theme='dark'] {
  --background: #1d1c1c; /* Change this to your desired dark mode background color */
  --foreground: #ffffff; /* Change this to your desired dark mode foreground color */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/*   --background: rgb(253, 242, 242);
 */
/* Add this CSS to your global stylesheet */

.markdown-content {
  font-family: Arial, sans-serif;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  color: #333;
}

.markdown-content p {
  line-height: 1.6;
}

.markdown-content a {
  color: #1a73e8;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content ul,
.markdown-content ol {
  margin: 1em 0;
}

.markdown-content li {
  margin-bottom: 0.5em;
}

.markdown-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin-left: 0;
  color: #555;
}
